<footer class="footer">
  <div class="flex">
    {% include 'social.njk' %}
    <div class="copyright">
      <p>© Hasmat Ali {% year %}. <span>All rights reserved.</span></p>
    </div>
  </div>
</footer>
