<header class="header">
  <div>
    <button class="nav-toggle" aria-label="toggle navigation">
      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          width="18"
          height="3"
          fill="black"
          fill-opacity="0.3"
          class="first"
        />
        <rect
          y="7.5"
          width="12"
          height="3"
          fill="black"
          fill-opacity="0.3"
          class="second"
        />
        <rect
          y="15"
          width="18"
          height="3"
          fill="black"
          fill-opacity="0.3"
          class="third"
        />
      </svg>
    </button>
    <nav class="nav nav-green main-container">
      <ul class="nav__list" role="list">
        <li>
          <a class="hover-effect__blog" href="/">Home</a>
        </li>
        <li>
          <a class="hover-effect__blog" href="/portfolio">Portfolio</a>
        </li>
        <li>
          <a class="hover-effect__blog" href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
