<section class="pagination">
  <div class="row rowone">
    <a href="/portfolio"
      ><span>Portfolio</span
      ><img src="/images/right-arrow.svg" alt="right arrow"
    /></a>
  </div>
  <div class="row rowtwo">
    <a href="/"
      ><img src="/images/left-arrow.svg" alt="left arrow" /><span>Home</span></a
    >
  </div>
</section>
