---
title: Blog
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />

    <!-- Googel Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:wght@400;500;700&family=Source+Sans+Pro:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="main-border"></div>
    <div class="container">
      {% include 'header-blog.njk' %}

      <main class="blog-container">
        <img src="/images/blog-logo.svg" alt="blog" class="blog-logo" />

        {%- for post in collections.featured | reverse -%} {% include
        'article-snippet-featured.njk' %} {%- endfor -%} {%- for post in
        collections.post | reverse -%} {% include 'article-snippet.njk' %} {%-
        endfor -%}
      </main>

      <footer class="footer">
        <div class="flex portfolio-container">
          {% include 'social.njk' %} {% include 'pagination-blog.njk' %}
          <div class="copyright">
            <p>© Hasmat Ali {% year %}. <span>All rights reserved.</span></p>
          </div>
        </div>
      </footer>
    </div>
    <!-- container -->

    <script type="module" src="/main.js"></script>
  </body>
</html>
