---
title: Hasmat Ali
layout: base.njk
---

<section class="info main-container">
  <div class="info__logo">
    <img src="images/logo.svg" alt="logo" />
  </div>
  <div class="info__explain">
    <div class="myimage">
      <img class="box-shadow" src="images/img1.jpg" alt="main image" />
    </div>

    <p class="description__intro">Hi, I'm</p>
    <p class="description__title">Front - End Dev</p>
    <p class="description__body">
      I enjoy creating
      <a href="portfolio.html" class="hover-effect">digital products</a>
      that either solve problems or entertain people.
    </p>
  </div>
</section>
